<section class="logos">
    <h4>Organisations I've designed for</h4>
    <ul class="logos__list">
      <li><img src="/images/logos/logo-bt.png" alt="British Telecom logo"></li>
      <li><img src="/images/logos/logo-ee.png" alt="EE logo"></li>
      <li><img src="/images/logos/logo-iw.png" alt="Infinity Works logo"></li>
      <li><img src="/images/logos/logo-accenture.png" alt="Accenture logo"></li>
      <li><img src="/images/logos/logo-cog.png" alt="Cognizant logo"></li>
      <li><img src="/images/logos/logo-nhs.png" alt="NHS Digital logo"></li>
      <li><img src="/images/logos/logo-defra.png" alt="Defra logo"></li>
      <li><img src="/images/logos/logo-asda.png" alt="Asda logo"></li>
      <li><img src="/images/logos/logo-npcc.png" alt="NPCC logo"></li>
      <li><img src="/images/logos/logo-nhs-yorks.png" alt="NHS Yorkshire Ambulance Service logo"></li>
    </ul>
  </section>