<footer class="site-footer [ pad-top ] ">
  <div class="wrapper">
    <div class="site-footer__inner">
      <nav class="nav">
        <ul class="nav__list">
          <li>
            <a href="mailto:hello@russ.fyi">Email.</a>
          </li>
          {# <li>
            <a href="#" class="twitter">Twitter.</a>
          </li> #}
          <li>
            <a href="https://dribbble.com/russpoulter" class="dribbble">Dribbble.</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/russpoulter/" class="linkedin">Linkedin.</a>
          </li>
        </ul>
      </nav>
      <p class="copyright">
        Copyright &copy; Russ Poulter until the world stops turning round. v0.3
      </p>
    </div>
  </div>
</footer>
