<header class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      
      <a href="/">
        <img src="images/logo.svg" alt="Russ Poulter. UX / UI / Product / Service designer">
      </a>
      
      <nav class="nav" aria-label="Primary navigation">
        <ul class="nav__list">
          <li>
            <a href="#">About.</a>
          </li>
          <li>
            <a href="#">Work.</a>
          </li>
          <li>
            <a href="#">Hello.</a>
          </li>
        </ul>
      </nav>
      
    </div>
    <!-- End site-header__inner -->
  </div>
  <!-- End wrapper -->
</header>