<header class="site-header">
  <div class="wrapper">
    <div class="site-header__inner">
      
      <a href="/" class="logo">
        {% include "svgs/logo.svg"%}
      </a>
      
      <nav class="nav" aria-label="Primary navigation">
        <ul class="nav__list">
          <li>
            <a href="/work">Work.</a>
          </li>
          {# <li>
            <a href="#">About.</a>
          </li> #}
          <li>
            <a href="/words">Words.</a>
          </li>
          {# <li>
            <a href="#">Hello.</a>
          </li>
          <li>
            <a href="#">CV.</a>
          </li> #}
        </ul>
      </nav>
      
    </div>
    <!-- End site-header__inner -->
  </div>
  <!-- End wrapper -->
</header>