@use '../base/mixin';

.intro__summary{
  max-width: 1080px;
  padding: 40px 0;
  > * + * {
    margin-top: mixin.calc-em(38.4px);
  }
  p{
    font-size: mixin.calc-em(24px);
    line-height: mixin.calc-em(38.4px);
    letter-spacing: -0.02em;
  }
}