@use '../base/theme';

.site-header{
  &__inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
}

.nav__list{
  display: flex;

  li{
    display: inline-block;
    margin-left: 1rem;
  }

  a{
    text-decoration: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #212529;
    position: relative;
    top: 5px;
    transition: .3s;
    &:hover{
      color: theme.$blue;
    }
  }
}