@use '../base/theme';

.site-header{
  &__inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
}

.nav__list{
  display: flex;
}

.nav__list li{
  display: inline-block;
  margin-left: 1rem;
}

.nav__list a{
  text-decoration: none;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #212529;
  position: relative;
  top: 5px;
  transition: .3s;
}

.nav__list a:hover{
  color: theme.$blue;
}