@use 'base/mixin';
@use 'theme';

.site-body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.page-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid{
  display: grid;
  gap: mixin.calc-em(48px);
  @include mixin.breakpoint(medium){
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixin.breakpoint(large){
    gap: mixin.calc-em(64px);

  }

  &-1080{
    max-width: mixin.calc-em(1080px);
  }
}

