@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// Palette
$grey15: #212529;
$blue: #0047FC;

// Font stacks
$fontPrimary: 'Inter','Helvetica Neue',Helvetica,Arial,sans-serif;

// Breakpoints
$bpSmall: 30rem; // 480px
$bpMedium: 45rem; // 720px
$bpLarge: 60rem; // 960px