@use '../base/mixin';

.wrapper{
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 mixin.calc-em(24px);
  @include mixin.breakpoint(small){
    padding: 0 mixin.calc-em(48px);
  }
  @include mixin.breakpoint(large){
    padding: 0 mixin.calc-em(64px);
  }
}

.pad-top{
  padding-top: mixin.calc-em(64px);
  @include mixin.breakpoint(large){
    padding-top: mixin.calc-em(64px);
  }
}

.pad-bot{
  padding-bottom: mixin.calc-em(48px);
  @include mixin.breakpoint(medium){
    padding-bottom: mixin.calc-em(64px);
  }
  @include mixin.breakpoint(large){
    padding-bottom: mixin.calc-em(128px);
  }
}

.margin-bot{
  margin-bottom: mixin.calc-em(40px);
  @include mixin.breakpoint(medium){
    margin-bottom: mixin.calc-em(72px);
  }
}

.strike{
  text-decoration: line-through;
}