{% extends "templates/_default.html" %}

{% block main %}
    <article class="grid-1080">
    
        {% include "components/_pageIntro.html" %}

        <div class="content">
            <img class="hero-img" src="{{hero}}" alt="{{hero-alt}}">

            {% if overview %}
                <div class="overview [ margin-bot ]">
                {% for item in overview %}
                    <p>{{ item }}</p>
                {% endfor %}
                </div>
            {% endif %}

            {% include "components/_gallery.html" %}
            

            {{ content | safe }}


        </div>

    </article>
{% endblock %}