---
title: Work - Russ Poulter
description: This is some of my work.
---

{% extends "templates/_default.html" %}

{% block main %}
    <section class="page-intro">
        <nav class="breadcrumbs">
            <ol class="breadcrumbs_list">
                <li class="breadcrumbs_item">
                    <a href="/" class="breadcrumbs_link">Home</a>
                </li>
                <li class="breadcrumbs_item">
                    <a href="/work" class="breadcrumbs_link">Work</a>
                </li>
            </ol>
        </nav>

        <h1 class="page-title">Work.</h1>

        <div class="intro__summary">
            <p>This is my portfolio. There are many like it but this one is mine.</p>
        </div>
    </section>

    <section class="grid grid-1080 work-items">

        <article class="card work-item">
            <a href="" class="card__image">
                <img src="/images/work/edna-thumb.jpg" alt="an image showing the web application Edna in use on 2 phones">
            </a>
            <div class="card__content">
                <a href="" class="card__heading">
                    <h2>Edna App</h2>
                </a>
                <p class="card__excerpt">
                    A couple of lines or a sentence about the work item
                </p>
            </div>
        </article>

         <article class="card work-item">
            <a href="" class="card__image">
                <img src="/images/work/edna-thumb.jpg" alt="an image showing the web application Edna in use on 2 phones">
            </a>
            <div class="card__content">
                <a href="" class="card__heading">
                    <h2>Edna App</h2>
                </a>
                <p class="card__excerpt">
                    A couple of lines or a sentence about the work item
                </p>
            </div>
        </article>

        

    </section>
{% endblock %}
