---
title: Work - Russ Poulter
description: This is some of my work.
---

{% extends "templates/_default.html" %}

{% block main %}
    <section class="page-intro">
        <nav class="breadcrumbs">
            <ol class="breadcrumbs_list">
                <li class="breadcrumbs_item">
                    <a href="/" class="breadcrumbs_link">Home</a>
                </li>
                <li class="breadcrumbs_item">
                    <a href="/work" class="breadcrumbs_link">Work</a>
                </li>
            </ol>
        </nav>

        <h1 class="page-title">Work.</h1>

        <div class="intro__summary">
            <p>This is my portfolio. There are many like it but this one is mine.</p>
        </div>

        
    </section>
{% endblock %}
