---
title : Russ Poulter - UX / UI / Product / Interaction / Service Designer
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    {% include "css/styles.css" ignore missing %}
  </style>


</head>
<body>
  <header class="site-header">
    <div class="wrapper">
      <div class="site-header__inner">
        
        <a href="/">
          <img src="images/logo.svg" alt="Russ Poulter. UX / UI / Product / Service designer">
        </a>
        
        <nav class="nav" aria-label="Primary navigation">
          <ul class="nav__list">
            <li>
              <a href="#">About.</a>
            </li>
            <li>
              <a href="#">Work.</a>
            </li>
            <li>
              <a href="#">Hello.</a>
            </li>
          </ul>
        </nav>
        
      </div>
      <!-- End site-header__inner -->
    </div>
    <!-- End wrapper -->
  </header>
  <body>
    <p>This is the body. The content goes here. dave2 3</p>
  </body>
  <footer>This is the footer. Footer things go here.</footer>
</body>
</html>