---
title: Home - Russ Poulter
description: This is my web site.
---

{% extends "templates/_default.html" %}

{% block main %}
  <header class="intro">
    <div class="intro__summary">
      <p>
        Hello. I am a multidisciplinary designer and design leader with more than 15 years experience; researching, designing, building and launching end&#8209;to&#8209;end digital products and services for the web. 
      </p>
      <p>
        Oh and I sometimes do that swim, bike, run thing.
      </p>
    </div>
  </header>

  
  <nav class="[ pad-top ] big-nav">
    <ul class="big-nav__list">
      <li>
        <a href="/work">
          See my <span class="big">Work.</span>
        </a>
      </li>
      {# <li>
        <a href="#">
          Discover what I’m <span class="big">About.</span>
        </a>
      </li>
      <li>
        <a href="#">
          Say <span class="big">Hello.</span>
        </a>
      </li> #}
    </ul>
  </nav>
{% endblock %}

