---
title: Home - Russ Poulter
description: This is my web site.
---

{% extends "templates/_default.njk" %}

{% block main %}
  <header class="intro">
    <div class="wrapper">
      <div class="intro__summary">
        <p>
          Hello. I am a multidisciplinary designer with more than 10 years experience; designing, building and launching end-to-end digital products and services for the web. 
        </p>
        <p>
          Oh and I run. A lot.
        </p>
      </div>
    </div>
  </header>
  <section class="cta">
    <div class="wrapper">
      <nav class="bigNav">
        <ul class="bigNav__list">
          <li>
            <a href="#">
              See my <span class="big">Work</span>
            </a>
          </li>
          <li>
            <a href="#">
              Discover what I’m <span class="big">About</span>
            </a>
          </li>
          <li>
            <a href="#">
              Say <span class="big">Hello</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  
{% endblock %}

